<html>
    <head>
        <title><%=title%></title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <div id="menu">
                <ul>
                    <li><form action="/logout/" method="delete"><input type="submit" value="Sair"></form></li>
                    <li><form action="/accont" method="GET"><input type="submit" value="Meus Dados"></form></li>
                </ul>
            </div>
        </header>
        <h1><%=title%></h1>
        <div id="rooms_list">
            <ul>
                <li>sala1 = Quintal (5/10)</li>
                <li>sala2 = Quarto (3/4)</li>
                <li>sala3 = Cozinha (0/5)</li>
                <li>sala4 = Esquina (6/10)</li>
            </ul>
        </div>
    </body>
</html>